@keyframes underlineLeft {
  0% {
    width: 0;
  }
  100% {
    width: 35%;
  }
}
@keyframes underlineRight {
  0% {
    width: 0;
  }
  100% {
    width: 35%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: rgb(13, 85, 13);
  font-weight: 700;
}
.underline {
  display: flex;
  align-items: center;
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(13, 85, 13);
  animation: underlineLeft 1s forwards;
  animation-delay: 3s;
}
.underline::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: rgb(13, 85, 13);
  animation: underlineRight 1s forwards;
  animation-delay: 3s;
}

.loader span {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.loader span:nth-child(1) {
  animation-delay: 0.2s;
}

.loader span:nth-child(2) {
  animation-delay: 0.5s;
}

.loader span:nth-child(3) {
  animation-delay: 0.8s;
}

.loader span:nth-child(4) {
  animation-delay: 1.1s;
}

.loader span:nth-child(5) {
  animation-delay: 1.4s;
}

.loader span:nth-child(7) {
  animation-delay: 1.6s;
}

.loader span:nth-child(8) {
  animation-delay: 1.3s;
}

.loader span:nth-child(9) {
  animation-delay: 0.9s;
}

.loader span:nth-child(10) {
  animation-delay: 0.4s;
}

.loader span:nth-child(11) {
  animation-delay: 0.7s;
}
.loader span:nth-child(6) {
  animation-delay: 2.2s;
}
