.container {
  margin-top: 50px;
  position: relative;
  padding-bottom: 50px;
}
.container h2 {
  font-size: 30px;
  color: rgb(120, 119, 119);
  margin-bottom: 20px;
}
.container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: rgb(103, 103, 103);
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 30px;
}

@media screen and (max-width: 760px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
