.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 60px;
  padding: 0 15px;
}
.headerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 10px;
}
